
#display > div {
    height: 60px;
    background-color: #FFFFFF;
    color: chocolate;
    font-family: 'Microsoft YaHei UI', sans-serif;
    float: left;
    font-size: 10px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    border:1px solid chocolate;
    position: relative;
    width:20px;
    bottom: 0;


}
#display{
    width:1340px;
    margin:400px auto;

}