*{
  margin: 0;
  padding: 0;
  color: #34495e;
}
@mixin default(){
  box-sizing: border-box;
  height: 30px;
  width: 100px;
  outline: none;
  transition: 0.6s;
}

h1 {
  text-align: center;
  margin: 10px auto;
}

.panel{
  text-align: center;
  padding: 10px;
}
button{
  @include default();
  color:chocolate;
  background-color: white;
  border: 1px solid chocolate;
  cursor: pointer;
  &:hover{
    background-color: chocolate;
    color: white;
  }
}
input{
  @include default();
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  &:hover{
    background-color: #eee;
  }
}
.container{
  position: relative;
  height: 600px;
  background-color: bisque;
  overflow-y: auto;
}
.col{
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  border: 1px solid white;
  background-color: chocolate;
  font-family: Century Gothic, sans-serif;
  text-align: center;
  color: white;
}
.lift{
  bottom: 300px;
  background-color: transparent;
  border: 1px solid chocolate;
  color: chocolate;
}